
/* Your CSS Code here. */
.holder{
	display: grid;
	grid-template-rows: repeat(100px, 100px);
	grid-template-columns: repeat(100px, 100px);
	height: 200px;
	width: 200px;
	gap: 5px;
}
.item{
	 border: 1px solid #000;
  padding: 10px;
  text-align: center;
}

