
/* Your CSS Code here. */
.holder{
	display: grid;
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(2, 1fr);
	height: 100px;
	width: 100px;
	gap: 5px;
}
.item{
	 border: 1px solid #000;
  padding: 10px;
  text-align: center;
}

